body{
    background: #2c3941;
    font-size: 16px;
}

.container{
    height: auto;
    max-height: 300px;
    width: auto;
    max-width: 25%;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;    
    top:0;
    padding: 25px !important;
}

li.tag-body a{
    text-decoration: none;
    color: #dcdcdc;
    text-shadow: 1px 2px 0px rgba(30, 30, 30, 0.3);
}

li.tag-body{
    font-family: "Cabin SemiBold", verdana, serif;
    font-size: 13px !important;
    display: inline-block;
    color: #fff;
    position: relative;
    padding: 8px 10px 8px 15px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin: 0 25px 20px 0;
    text-decoration: none;
    border-top: 1px solid rgba(255,255,255, 0.2);
    background-color: rgba(86,96,103,0.9);
    
    /*shadow*/
    -webkit-box-shadow: 1px 2px 1px -1px rgba(30, 30, 30, 0.7);
    -moz-box-shadow:    1px 2px 1px -1px rgba(30, 30, 30, 0.7);
    box-shadow:         1px 2px 1px -1px rgba(30, 30, 30, 0.7);
        
   /*Cross browser gradient*/   
   background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(186,96,103,0.7)), to(rgba(64,72,80,0.7)));
   background-image: -webkit-linear-gradient(rgba(86,96,103,0.7), rgba(64,72,80,0.7));
   background-image: -moz-linear-gradient(rgba(86,96,103,0.7), rgba(64,72,80,0.7));
   background-image: -o-linear-gradient(rgba(86,96,103,0.7), rgba(64,72,80,0.7));
   background-image: linear-gradient(rgba(86,96,103,0.7), rgba(64,72,80,0.7)), url(images/bg-1.png);
}

/*Arrow left*/
li.tag-body:before {
    display: inline-block;
    height: 22px;
    width: 22px;
    position: absolute;
    left: -12px;
    top: 4px;
    content: "";    
    background-color: rgba(86,96,103,0.9);
    
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(86,96,103,0.7)), to(rgba(64,72,80,0.7)));
    background-image: -webkit-linear-gradient(rgba(86,96,103,0.7), rgba(64,72,80,0.7));
    background-image: -moz-linear-gradient(rgba(86,96,103,0.7), rgba(64,72,80,0.7));
    background-image: -o-linear-gradient(rgba(86,96,103,0.7), rgba(64,72,80,0.7));
    background-image: linear-gradient(rgba(86,96,103,0.7), rgba(64,72,80,0.7)), url(images/bg-1.png);
         
    -webkit-box-shadow: 1px 2px 1px -1px rgba(30, 30, 30, 0.7);
    -moz-box-shadow:    1px 2px 1px -1px rgba(30, 30, 30, 0.7);
    box-shadow:         1px 2px 1px -1px rgba(30, 30, 30, 0.7); 
    
    /*transform shape*/
    -webkit-transform:scaleX(.6) rotate(45deg);
    -moz-transform:scaleX(.6) rotate(45deg);
    -o-transform:scaleX(.6) rotate(45deg);
    transform:scaleX(.6) rotate(45deg);
    
    border-left: 1px solid rgba(255,255,255, 0.2);
    border-bottom: 1px solid transparent;
    
    z-index: -1;    
}

