body{
    background: #2c3941;
    font-size: 16px;
}

.container{
    height: auto;
    max-height: 300px;
    width: auto;
    max-width: 25%;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;    
    top:0;
    padding: 25px !important;
}
